.url-tip {
    margin-left: 7em;
    font-size: 13px;
    color: lightslategray;
}

.yapi-card-body {
    height: 100%;
}

.yapi-card-grid {
    height: 100%;
    overflow: auto;
    &.grid-first {
        flex: 1;
    }
    &.grid-second {
        flex: 2;
    }
}
