.url-tip {
    margin-left: 7em;
    font-size: 13px;
    color: lightslategray;
}

.yapi-card-body {
    height: 100%;
}

.yapi-card-grid {
    overflow: auto;
    padding: 0 !important;
    height: 100%;
    &.grid-first {
        flex: 2;
    }
    &.grid-second {
        flex: 3;
    }
}
pre, code {
    margin: 0;
    height: 100%;
}

.ant-card-grid.yapi-card-grid.grid-first {
  position: relative;
  &::after {
    pointer-events: none;
    letter-spacing: 2px;
    content: "Request";
    display: block;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    font-size: 5rem;
    color: #363636;
  }
}

.ant-card-grid.yapi-card-grid.grid-second {
  position: relative;
  &::after {
    pointer-events: none;
    letter-spacing: 2px;
    content: "Response";
    display: block;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    font-size: 5rem;
    color: #363636;
  }
}